<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Product-detail</title>
</head>
<body>

    <div class="top-bar">
        <img class="logo" src="images/Epic-Games-Symbol.png">
        <h3>STORE</h3>
        <h4>Support</h4>
        <h4>Distribute</h4>
        <i class="bi bi-globe"></i>
        <button class="Sign-in">Sign in</button>
        <button class="Download">Download</button>
      </div>

        <input class="search-bar" type="text" placeholder="Search Store">

      <h2 class="title">TITLE</h2>

      <div class="rating">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-half"></i>
      </div>
      <div class="rating-number">
        4,5
      </div>

      <div class="detail-grid">
        <div>
            <img src="images/Epic-Games-symbol.png" class="detail-game">
        </div>
        <div class="game-buttons">
            <button class="buy-now">Buy now</button>
            <button>Add to cart</button>
            <button>Add to wish list</button>
        </div>
      </div>

      <div class="game-description">
        <h3>TITLE</h3>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, earum numquam nam itaque labore est dolores nesciunt aliquid necessitatibus, veritatis assumenda sequi perspiciatis unde repellat in harum deserunt exercitationem facilis.</h4>
      </div>
      
<!--system requirements part-->
<h2 class="requirements-title">System Requirements</h2>

<div class="requirements-box">
  <div class="requirements-columns">
    <div class="requirements-column">
      <h3>Minimum</h3>
      <ul>
        <li><b>OS version:</b> Windows 8</li>
        <li><b>CPU:</b> Intel CPU Core i3-8100 or equivalent</li>
        <li><b>Memory:</b> 8GB</li>
        <li><b>Graphics:</b> DirectX12 capable GPU with 4GB VRAM</li>
      </ul>
    </div>

    <div class="requirements-column">
      <h3>Recommended</h3>
      <ul>
        <li><b>OS version:</b> Windows 10</li>
        <li><b>CPU:</b> Intel CPU Core i5-8400 or equivalent</li>
        <li><b>Memory:</b> 16GB</li>
        <li><b>Graphics:</b> DirectX12 capable GPU with 6GB VRAM</li>
      </ul>
    </div>
  </div>

  <div class="additional-info">
    <h4>Languages Supported:</h4>
    <ul>
      <li><b>Audio:</b> English</li>
      <li><b>Text:</b> English, Chinese, French, German, Spanish</li>
    </ul>
  </div>

  <div class="copyright">
    <p>Copyright © 2023 Epic Games. All rights reserved.</p>
  </div>
</div>

<!--Fotter part-->
      <footer>
        <div class="footer-content">
       
          <div class="social-icons">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-youtube"></i>
          </div>
          <h2 class="resources-header">Resources</h2>
          <div class="resources">
            <div class="column">
              <ul>
                <li><a href="#">Support-A-Creator</a></li>
                <li><a href="#">Distribute on Epic Games</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Company</a></li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <li><a href="#">Fan Art Policy</a></li>
                <li><a href="#">UX Research</a></li>
                <li><a href="#">Store EULA</a></li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <li><a href="#">Online Services</a></li>
                <li><a href="#">Community Rules</a></li>
                <li><a href="#">Epic Newsroom</a></li>
              </ul>
            </div>
          </div>
          <h2 class="made-by-header">Made By Epic Games</h2>
          <div class="made-by-games">
            <div class="column">
              <ul>
                <li><a href="#">Battle Breakers</a></li>
                <li><a href="#">Fortnite</a></li>
                <li><a href="#">Infinity Blade</a></li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <li><a href="#">Robo Recall</a></li>
                <li><a href="#">Shadow Complex</a></li>
                <li><a href="#">Unreal Tournament</a></li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="footer-bottom">
            <p>© 2025, Epic Games, Inc. All rights reserved. Epic, Epic Games, the Epic Games logo, Fortnite, the Fortnite logo, Unreal, Unreal Engine, the Unreal Engine logo, Unreal Tournament, and the Unreal Tournament logo are trademarks or registered trademarks of Epic Games, Inc. in the United States of America and elsewhere. Other brands or product names are the trademarks of their respective owners.</p>
            <p>Our websites may contain links to other sites and resources provided by third parties. These links are provided for your convenience only. Epic Games has no control over the contents of those sites or resources, and accepts no responsibility for them or for any loss or damage that may arise from your use of them.</p>
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Store Refund Policy</a></li>
              <li><a href="#">Publisher Index</a></li>
            </ul>
          </div>
        </div>
      </footer>
</body>
</html>