body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.top-bar{
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  background-color: black;
  align-items: center;
}
.top-bar > :nth-child(5){
  margin-left: auto;
}
.top-bar > *{
  color: white;
}
.logo{
  max-width: 60px;
}
.Download{
  border-radius: 7px;
  color: black;
  font-size: 1.1rem;
  height: 1.8rem;
  border: 1px;
  background-color: rgb(36,187,251);
}
.Sign-in{
  border-radius: 7px;
  font-size: 1.1rem;
  height: 1.8rem;
  border: 1px;
  background-color: #34343b;
}
.bi-globe{
  font-size: 1.2rem;
}


